<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>
    <h1>英文學習系統</h1>
    <h3>學生版登入</h3>
    <form method="POST" action="/">
        <label for="username">帳號:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">密碼:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="登入">
    </form>
    <div><button>註冊</button></div>
</body>
</html>